* {
    box-sizing: border-box;
}

.container {
border: 4px solid yellow;
display: flex;
}

.container2 {
    border: 4px solid blue;
    display: flex;
}

.row {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.wrapper {
display: flex;
flex-direction: column;
width: 50%;
}

.wrapper2 {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.wrapper3 {
    width: 50%;
}

.box {
    border: 4px solid black;
}

.smallbox {
border: 4px solid red;
width: 50%;
}

.bigbox {
border: 4px solid green;
width: 50%;
}
